<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore, eum
        necessitatibus quos perferendis totam quam dolores impedit, accusamus
        earum possimus voluptatum aliquam unde ut dicta saepe ullam nesciunt
        quaerat eos!
      </p>
    </section>
    <address>
      <h2 class="footer-title">Contato</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i> email&#64;email.com</li>
        <li><i class="fa-solid fa-phone"></i> (99) 99999-9999</li>
        <li><i class="fa-brands fa-whatsapp"></i> (99) 99999-9999</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; 2025 - Todos os direitos reservados
  </section>
</footer>
