<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
  <form class="contact-form">
    <input type="text" placeholder="Digite o seu nome" />
    <input type="assunto" placeholder="Digite o assunto" />
    <input type="tel" placeholder="(00) 0 0000-0000" />
    <input type="email" placeholder="Digite o seu e-mail" />
    <textarea maxlength="300" placeholder="Digite a sua mensagem"></textarea>
    <button>Enviar</button>
  </form>
  <address>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d234173.379422113!2d-47.10992137499998!3d-23.497984299999988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf03c36a894d2b%3A0x363d5c8b0e9068d6!2sCapgemini%20Brasil%20-%20Alphaville!5e0!3m2!1spt-BR!2sbr!4v1743464180353!5m2!1spt-BR!2sbr"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <p>Alameda Grajaú, 60 - Alphaville Industrial, Barueri - SP, 06454-050</p>
  </address>
</section>
